hr.mt1

footer
    .max-width-3.mx-auto
        .clearfix
            .col.col-12.px2
                include menu

    hr

    .max-width-3.mx-auto
        .clearfix
            .col.col-12.px2.center.mb2
                ul.list-reset
                    li.inline-block.mr2 Minor
                    li.inline-block.mr2 Something here
                    li.inline-block.mr2 &copy; 2016. 100 Shapes Ltd.

