extends ../base



block site_body
    article.max-width-4.mx-auto
        .clearfix
            h1.h1= page.title

            section!= page.content

            each post in site.posts.toArray()
                a(href=url_for(post.path)).border-box.border.p2.mb2.block
                    h1.h2= post.title


