extends ../base

block site_body
    .col.col-12.p2
        h1= page.title

        div
            p Something here

            p Here's some links to related articles on the subject:

            ul
                li
                    a(href=href=url_for('/enterprise-ux/raise-your-bottom-line')) Improve your bottom line
                li
                    a(href=href=url_for('/enterprise-ux/raise-your-bottom-line')) Something else
                li
                    a(href=href=url_for('/enterprise-ux/raise-your-bottom-line')) And finally
