extends ../base

block site_body
    h1= page.title

    p Join us content

    .clearfix
        .sm-col.sm-col-8.p2
            h2 We're hiring

            p.
                There's a bunch of jobs we're looking for. A bit more
                text here. Something that shows how enthusiastic we are.
                It's great really. You definitely join.


            h3 Interaction designers
            p.
                Paragraph here about the type of designer. There's a bunch of
                jobs we're looking for. A bit more text here. Something that
                shows how enthusiastic we are. It's great really. You definitely join.

            h3 Information Architects
            p.
                Paragraph here about the type of designer. There's a bunch of
                jobs we're looking for. A bit more text here. Something that
                shows how enthusiastic we are. It's great really. You definitely join.

            h3 User researchers
            p.
                Paragraph here about the type of designer. There's a bunch of
                jobs we're looking for. A bit more text here. Something that
                shows how enthusiastic we are. It's great really. You definitely join.

            h3 Frontend developers (FE)
            p.
                Paragraph here about the type of designer. There's a bunch of
                jobs we're looking for. A bit more text here. Something that
                shows how enthusiastic we are. It's great really. You definitely join.

        .sm-col.sm-col-4.p2
            .border.p2.mb1
                p Social things here

            .border.p2.mb1
                p Social things here

            .border.p2.mb1
                p Social things here