extends ../base

block site_body
    .col.col-12.p2
        h1= page.title

        p.lead Join us content, innit.

        section.my4

            h2 We're hiring

            p.
                There's a bunch of jobs we're looking for. A bit more
                text here. Something that shows how enthusiastic we are.
                It's great really. You definitely join.

            h3.mt3 Interaction designers
            p.
                Paragraph here about the type of designer. There's a bunch of
                jobs we're looking for. A bit more text here. Something that
                shows how enthusiastic we are. It's great really. You definitely join.
            a(href="#") Apply here &#10095;

            h3.mt3 Information Architects
            p.
                Paragraph here about the type of designer. There's a bunch of
                jobs we're looking for. A bit more text here. Something that
                shows how enthusiastic we are. It's great really. You definitely join.
            a(href="#") Apply here &#10095;

            h3.mt3 User researchers
            p.
                Paragraph here about the type of designer. There's a bunch of
                jobs we're looking for. A bit more text here. Something that
                shows how enthusiastic we are. It's great really. You definitely join.
            a(href="#") Apply here &#10095;

            h3.mt3 Frontend developers
            p.
                Paragraph here about the type of designer. There's a bunch of
                jobs we're looking for. A bit more text here. Something that
                shows how enthusiastic we are. It's great really. You definitely join.
            a(href="#") Apply here &#10095;

