---
title: Labs
date: 2016-03-22 16:53:04
layout: custom/labs
---

div
    p hello
    {% blockquote David Levithan, Wide Awake %}
    Do not just seek happiness for yourself. Seek happiness for all. Through kindness. Through mercy.
    {% endblockquote %}