doctype html
html(lang="en")

    head
        include _partial/site/head

    body
        header.max-width-3.mx-auto.m2
            .clearfix
                .col.col-12.px2
                    a(href=config.root)= config.title

                .col.col-12.px2
                    .col.sm-col-12.md-col-6
                        p.mt0= config.subtitle

                    .col.sm-col-12.md-col-6.md-right-align
                        ul.list-reset.m0
                            li.inline-block.mr2
                                a(href="mailto:hello@100shapes.com") hello@100shapes.com
                            li.inline-block
                                a(href="tel:+442037738175") +44 0203 7738 175

        hr

        .max-width-3.mx-auto
            .clearfix
                .col.col-12.px2
                    include _partial/site/menu

        hr

        .max-width-3.mx-auto
            .clearfix
                block site_body

        footer
            block site_footer
                include _partial/site/footer
