doctype html
html(lang="en")

    head
        include _partial/site/head

    body
        header.max-width-3.mx-auto
            .clearfix
                h1.h3.mb0
                    a(href=config.root)= config.title
                p.mt0= config.subtitle

        hr

        section
            block site_body

        footer
            block site_footer
                include _partial/site/footer
