doctype html
html(lang="en")

    head
        include _partial/site/head

    body
        header.max-width-3.mx-auto
            .clearfix
                .col.col-12
                    a(href=config.root)= config.title

                .col
                    p.mt0= config.subtitle

                .col.col-right.right-align.ml2
                    p.mt0
                        a(href="mailto:hello@100shapes.com") hello@100shapes.com

                .col.col-right.right-align
                    p.mt0
                        a(href="tel:+442037738175") +44 0203 7738 175

        hr

        div.max-width-3.mx-auto
            .clearfix
                block site_body

        footer
            block site_footer
                include _partial/site/footer
