doctype html
html(lang="en")
    head
        title= page.title
    body
        each post in site.posts.data
            li
                a(href=url_for(post.path)) #{post.title}
        block content